.card {
  padding: 24px;
  border: 1px solid var(--color-dark-300);
  min-width: 25vw;
  max-width: 378px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: var(--presmall-indent);
}

.title {
  text-align: center;
  font-size: var(--h3-text-size);
}

.hint {
  margin-top: -18px;
  color: var(--color-light-900);
  font-size: 12px;
  line-height: 1.4;
}

.serverError {
  margin-top: -18px;
  color: var(--color-danger-500);
  font-size: 12px;
  line-height: 1.4;
}
