.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 24px;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.2s,
    border 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  width: 100%;
}

.autoWidth {
  width: auto;
  display: inline-flex;
}

.primary {
  background: var(--color-accent-300);
  color: var(--color-light-100);
}

.primary:hover {
  background: var(--color-accent-100);
}

.primary:active {
  background: var(--color-accent-700);
}

.primary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent-500);
}

.secondary {
  background: var(--color-dark-300);
  color: var(--color-light-100);
}

.secondary:hover {
  background: var(--color-dark-100);
}

.secondary:active {
  background: var(--color-dark-700);
}

.secondary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent-500);
}

.outline {
  background: transparent;
  border: 1px solid var(--color-accent-500);
  color: var(--color-accent-500);
}

.outline:hover {
  border-color: var(--color-accent-100);
  color: var(--color-accent-100);
}

.outline:active {
  border-color: var(--color-accent-700);
  color: var(--color-accent-700);
}

.outline:focus-visible {
  color: var(--color-accent-900);
  box-shadow: 0 0 0 2px var(--color-accent-900);
  border-color: var(--color-accent-900);
}

.ghost {
  background: transparent;
  color: var(--color-accent-300);
}

.ghost:hover {
  color: var(--color-accent-100);
}

.ghost:active {
  color: var(--color-accent-500);
}

.ghost:focus-visible {
  color: var(--color-accent-900);
  box-shadow: 0 0 0 2px var(--color-accent-900);
  border-color: var(--color-accent-900);
}

.icon {
  display: flex;
  align-items: center;
}

.disabled,
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
