.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.closeOutside {
  position: absolute;
  top: 13%;
  right: 10%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.modalContent {
  width: 80vw;
  height: 80vh;
  max-width: var(--post-modal-width);
  max-height: var(--post-modal-height);
}

/* Оболочка внутри PostLayout */
.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background-color: var(--color-dark-500);
  overflow: hidden;
  border-radius: 2px;
}

.authorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--semithin-indent) var(--small-indent);
  border-bottom: 1px solid var(--color-dark-300);
}

.authorInfo {
  display: flex;
  gap: var(--semithin-indent);
  align-items: center;
}

.userHeaderName {
  font-weight: var(--weight-semibold);
}

.commentsArea {
  flex: 1;
  overflow-y: auto;
  padding: var(--small-indent);
  display: flex;
  flex-direction: column;
  gap: var(--semithin-indent);
}

/* Нижний блок */
.footer {
  border-top: 1px solid var(--color-dark-100);
  padding: var(--semithin-indent) var(--small-indent);
  display: flex;
  flex-direction: column;
  gap: var(--semithin-indent);
}

.postActions {
  display: flex;
  justify-content: space-between;
}

.engagementBar {
  display: flex;
  gap: var(--small-indent);
}

.heartButton {
  background: none;
  border: none;
}

.likesWrapper {
  display: flex;
  align-items: center;
  gap: var(--semithin-indent);
  font-weight: var(--weight-regular);
  font-size: var(--small-text-size);
}

.iconsWrapper {
  display: flex;
  align-items: center;
  padding-left: var(--thin-indent);
}

.stackedImage {
  width: var(--small-indent);
  height: var(--small-indent);
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
  position: relative;
}

.stackedImage:first-child {
  margin-left: 0;
  z-index: 3;
}

.likesCount {
  font-weight: var(--weight-bold);
  color: var(--color-light-100);
}

.likesAndDate {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.postDate {
  font-size: var(--prethin-indent);
  color: var(--color-dark-100);
  text-transform: uppercase;
}

/* Строка ввода комментария */
.addCommentForm {
  display: flex;
  align-items: center;
  gap: var(--semithin-indent);
  margin-top: var(--thin-indent);
}

.commentInput {
  flex: 1;
  background: none;
  border: none;
  color: var(--color-light-100);
  outline: none;
}

.publishButton {
  background: none;
  border: none;
  color: var(--color-accent-500);
  font-weight: var(--weight-regular);
  cursor: pointer;
}
