.sidebarWrapper {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-content-width);
  flex-shrink: 0;
  align-items: center;
  border-right: 1px solid var(--color-dark-300);
  height: 93vh;
  padding: var(--prelarge-indent) 0 var(--semilarge-indent);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--small-indent);
  flex-grow: 1;
}

.navItem {
  padding: 0 var(--thin-indent);
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: var(--semithin-indent);
  font-size: var(--small-text-size);
  font-weight: var(--weight-medium);
  color: var(--color-light-100);
  border-radius: 2px;
}

.navItem span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem:hover {
  color: var(--color-accent-100);
}

.navItem:focus {
  outline: none;
}

.navItem.active {
  color: var(--color-accent-500);
  font-weight: var(--weight-bold);
}

.navItem.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.groupIndent {
  margin-top: 34px;
}

.logout {
  margin-top: auto;
}
